@model TeamFinderDAL.Models.ViewModels.AssignedRoles

@{
    ViewData["Title"] = "AssignRole";
}

<h1>AssignRole</h1>

<h4>AssignedRoles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>

            </div>
            <div class="col-3">
                @
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

