@model IEnumerable<TeamFinderDAL.Entities.BoardGame>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Board Games</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="BoardGame" asp-action="Create" class="btn btn-primary">Add Board Game</a>
        </div>
    </div>
    
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Difficulty</th>
                <th>Misc</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var boardGame in Model)
            {
                <tr>
                    <td width="50%">@boardGame.Name</td>
                    <td width="50%">@boardGame.Difficulty</td>
                    <td>
                        <a asp-controller="BoardGame" asp-action="Update" asp-route-id="@boardGame.Id" class="btn btn-primary">Update</a>
                        <a asp-controller="BoardGame" asp-action="DeleteBoardGame" asp-route-id="@boardGame.Id" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>