@using Microsoft.AspNetCore.Identity
@using TeamFinderDAL.Entities
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

@if (_signInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link text-dark" >Hello @_userManager.GetUserName(User)!</a>

                @* <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @_userManager.GetUserName(User)!</a> *@
            </li>
            <li>
                
                <button type="submit" class="nav-link text-dark" style="border:0px; background-color: white;">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}