#kavadat{
    margin-top: 7%;
    height: 35vw;
    display: flex;
}

#InKavadat{
    width: 22vw;
    height: auto;
    align-self: center;
    background-color: whitesmoke;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
